
.dark{
    background-color: var(--dark--);
    --white--:white;
    --dark--:#040922;
    --green--:#00b243;
    --light--:#acaeb6;
    #home .king{
        background-color: #0d1925c9;
       }
       #about .signature{
        background-image: url('/assets/images/signature-light.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 200px;
        width: 200px;
        height: 60px;
       }
       #about h3{
        color:var(--white--);
       }

       @media(max-width:992px){
        #about .signature{
            max-width: 120px;
            width: 120px;
            height: 40px;
           }
       }
}
.light{
    background-color: var(--dark--);
    --white--:#040922;
    --dark--:white;
    --green--:#00b243;
    #home .king{
        background-color: #ffffffcc;
       }
       #about .signature{
        background-image: url('/assets/images/signature-dark.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 200px;
        width: 200px;
        height: 60px;
       }
       button{
        color: var(--dark--);
       }
       #about h3{
        color: black;
       }
}
button{
    color: var(--white--);
   }
   button:hover{
    color: var(--green--);
   }
#navbar .container ul .nav:hover::before{
    content: " ";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: var(--white--);
    border-radius: 100%;
    margin-left: -8px;
}
#navbar .container ul  .active::before{
    content: " ";
    position: relative;
    height: 7px;
    width: 7px;
    background-color: var(--white--);
    border-radius: 100%;
}
#navbar ul li  {
    color: var(--white--);
}
#navbar .ml-auto{
    color: var(--white--);
}
#home{
    color: var(--white--);
}

#home::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; 
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0 100%);
    background: rgba(var(--clr-secondar), 0.5);
    transition: all 0.25s ease-in-out 0s;
    }

  
/* // particles section-bg */
.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}
#services{
    color: var(--white--);
}
 button:hover{
    .ml-2{
        position: relative;
        right: -7px;
        transform:.9s;
    }
}

#services .card {
    border: 1px solid green;
    border-radius: 3px;
    display: block;
    background: linear-gradient(to right, #00b243 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 5px;
    transition: all .3s ease-out;
  }
  
  #services .card:hover {
    background-position: left bottom;
    color: var(--white--);
    i{
        color: var(--white--);
    }
    button{
        color: var(--white--);
    }
  }
#about{
    color: var(--white--);
}
#about .featured-text {
    color: var(--green--);
    position: relative;
}
#about  svg path {
    stroke: var(--green--);
    stroke-width: 0.5rem;
    fill: transparent;
    
}

#about .featured-text svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 40px);
    transform: translate(-50%, -50%);
}
#about p,h3{
    color: #acaeb6;
}
#about .card:hover{
    i{ 
        position: relative;
        margin-top: -1px;
        transition: 0.5s;
        background-color: #00b244e5;
        color: white;
    }
}
